// Fade In
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@mixin element-fade-in() {
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  animation: fadein 3s;
}

// General Purpose
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #0e162f;
}

// Navigation Component
#nav-container {
  #nav-bar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    transition: top 0.3s;
  }

  .logo-container {
    position: absolute;
    left: 30px;
    top: 20px;

    .logo {
      .logo-image {
        width: 70px;
        height: 70px;
      }
    }
  }
}

.nav-links {
  margin: 3% 3%;
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
  color: white;
  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
    transition-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
  }
}

// Components
#welcome-container,
#about-container,
#project-container,
#writing-container,
#contact-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

// Welcome Component
#welcome-container {
  #welcome-button {
    text-align: center;
    font-size: 30px;
    color: black;
  }
  
  .first-paragraph-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .first-line {
      color: #45ce95;
      margin-right: 7vw;
      @include element-fade-in();
      transition-delay: 100ms;
    }
  
    .second-line {
      color: white;
      margin: 0 7vw 0 0;
      font-size: 430%;
      text-shadow: 1px 0;
      @include element-fade-in();
      transition-delay: 200ms;
    }
  
    .third-line {
      color: #8a91b2;
      margin: 0 7vw 0 0;
      font-size: 300%;
      text-shadow: 1px 0;
      @include element-fade-in();
      transition-delay: 300ms;
    }
  
    .profile-pic {
      width: 22vw;
      @include element-fade-in();
      transition-delay: 500ms;
    }
  }

  .fourth-line {
    color: #8a91b2;
    margin: 40px 20vw;
    line-height: 25px;
    @include element-fade-in();
    transition-delay: 400ms;
  }

  .email-me-container {
    display: flex;
    justify-content: center;
    @include element-fade-in();
    transition-delay: 600ms;

    .email-me {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 145px;
      height: 65px;
      border: solid;
      border-width: 4px;
      border-color: #45ce95;
      background-color: #45ce95;
      padding: 1px;
      border-radius: 10px;

      .email {
        color: white;
        text-shadow: 1.3px 0;
        margin: 0;
      }
    }
  }
}

// About Component
#about-container {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;

    .about-header {
      color: #e6f1fe;
      text-shadow: 1.5px 0;
      font-size: 250%;
    }
  }

  .about-description {
    margin: 10px 28vw;

    .about-paragraph {
      color: #f0f8fe;
      line-height: 30px;
      margin: 0;
    }

    .skill-list {
      display: grid;
      grid-template-columns: minmax(140px, 350px) minmax(140px, 350px);
      list-style: none;
      padding: 0;
      background-color: #0e162f;

      .skill {
        color: #8a91b2;
        margin-bottom: 10px;
      }

      .skill::before {
        content: "▹";
        color: #45ce95;
        margin-right: 10px;
      }
    }
  }
}

// Contact component
#contact-container {
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-header {
      color: #e6f1fe;
      text-shadow: 1.5px 0;
      font-size: 250%;
    }
  }

  .contact-description {
    margin: 10px 28vw;

    .contact-paragraph {
      color: #8a91b2;
      text-align: center;
      line-height: 30px;
      margin: 0;
    }
  }

  .contact-email-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;

    .contact-email {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 65px;
      border: solid;
      border-width: 4px;
      border-color: #45ce95;
      padding: 1px;
      border-radius: 10px;

      .contact-me {
        color: #45ce95;
        text-shadow: 1.3px 0;
        margin: 0;
      }
    }    
  }
}

// Links Component
#links-container {
  position: fixed;
  bottom: 0px;

  .social-media-list {
    list-style: none;

    .linkedin,
    .github,
    .medium,
    .twitter,
    .instagram {
      fill: #8a91b2;
      width: 23px;
      height: 23px;
      margin: 12px 15px;
    }
  }
}

// Email Component
#email-container {
  position: fixed;
  right: 90px;
  bottom: 40px;

  .email-icon {
    list-style: none;

    .mail {
      fill: #e6f1fe;
      width: 90px;
      height: 90px;
    }
  }
}
