// Constant Color-Theme
$primary-color: #45ce95;
$secondary-color: #8a91b2;
$tertiary-color: #e6f1fe;
$overall-color: #0e162f;
$footer-color: #020c1b;

// Fade In
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@mixin element-fade-in() {
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  animation: fadein 3s;
}

// General Purpose
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: $overall-color;
}

// Navigation Component
#nav-container {
  #nav-bar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    transition: top 0.3s;
  }

  #logo-container {
    position: fixed;
    left: 30px;
    top: 20px;
    transition: top 0.3s;

    .logo {
      .logo-image {
        width: 70px;
        height: 70px;
      }
    }
  }
}

.nav-links {
  margin: 3% 3%;
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
  color: $tertiary-color;
  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
    transition-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
  }
}

// Shared Attributes
#welcome-container,
#about-container,
#project-container,
#writing-container,
#contact-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

// Links Component
#links-container {
  position: fixed;
  bottom: 0px;

  .social-media-list {
    list-style: none;

    .linkedin,
    .github,
    .medium,
    .twitter,
    .instagram {
      fill: $secondary-color;
      width: 23px;
      height: 23px;
      margin: 12px 15px;
    }
  }
}

// Email Component
#email-container {
  position: fixed;
  right: 65px;
  bottom: 35px;

  .email-icon {
    list-style: none;

    .mail {
      fill: $tertiary-color;
      width: 90px;
      height: 90px;
    }
  }
}

// Welcome Component
#welcome-container {
  #welcome-button {
    text-align: center;
    font-size: 30px;
    color: black;
  }
  
  .first-paragraph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14vh;

    .first-line {
      color: $primary-color;
      margin-right: 7vw;
      @include element-fade-in();
      transition-delay: 100ms;
    }
  
    .second-line {
      color: $tertiary-color;
      margin: 0 7vw 0 0;
      font-size: 430%;
      text-shadow: 1px 0;
      @include element-fade-in();
      transition-delay: 200ms;
    }
  
    .third-line {
      color: $secondary-color;
      margin: 0 7vw 0 0;
      font-size: 300%;
      text-shadow: 1px 0;
      @include element-fade-in();
      transition-delay: 300ms;
    }
  
    .profile-pic {
      width: 22vw;
      @include element-fade-in();
      transition-delay: 500ms;
    }
  }

  .fourth-line {
    color: $secondary-color;
    margin: 40px 20vw 0;
    line-height: 25px;
    @include element-fade-in();
    transition-delay: 400ms;
  }

  .fifth-line {
    color: $secondary-color;
    margin: 10px 20vw;
    line-height: 25px;
    @include element-fade-in();
    transition-delay: 400ms;
  }

  .email-me-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    @include element-fade-in();
    transition-delay: 600ms;

    .email-me {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 145px;
      height: 65px;
      border: solid;
      border-width: 4px;
      border-color: $primary-color;
      background-color: $primary-color;
      padding: 1px;
      border-radius: 10px;

      .email {
        color: $overall-color;
        text-shadow: 1.3px 0;
        margin: 0;
      }
    }
  }
}

// About Component
#about-container {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;

    .about-header {
      color: $tertiary-color;
      text-shadow: 1.5px 0;
      font-size: 250%;
    }
  }

  .about-description {
    margin: 10px 28vw;

    .about-paragraph {
      color: $tertiary-color;
      line-height: 30px;
      margin: 0;
    }

    .skill-list {
      display: grid;
      grid-template-columns: minmax(140px, 350px) minmax(140px, 350px);
      list-style: none;
      padding: 0;
      background-color: $overall-color;

      .skill {
        color: $secondary-color;
        margin-bottom: 10px;
      }

      .skill::before {
        content: "▹";
        color: $primary-color;
        margin-right: 10px;
      }
    }
  }
}

// Project Component
#project-container {
  height: 140vh;

  .project-header-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .project-header {
      color: $tertiary-color;
      text-shadow: 1.5px 0;
      font-size: 250%;
    }
  }

  .project-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10vw;
    height: 320px;

    .project-image-container {
      .project-image {
        width: 470px;
        height: 320px;
        border-radius: 20px;
      }
    }

    .project-description-one {
      margin: 20px;
      max-width: 450px;
      text-align: right;
    }

    .project-description-two {
      margin: 20px;
      max-width: 450px;
      text-align: left;
    }

    .project-title {
      color: $tertiary-color;
    }

    .project-text {
      color: $secondary-color;
      line-height: 25px;
    }

    .project-details-container {
      .project-details {
        display: flex;
        justify-content: flex-end;

        .project-details-text-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 15px;
          border: solid;
          border-width: 4px;
          border-color: $primary-color;
          background-color: $primary-color;
          padding: 1px;
          border-radius: 10px;
          margin: 0 5px;

          .project-details-text {
            color: $overall-color;
            font-weight: bolder;
            font-size: 75%;
          }
        }
      }
    }
  }

  .more-project-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;

    .more-project {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 240px;
      height: 65px;
      border: solid;
      border-width: 4px;
      border-color: $primary-color;
      background-color: $primary-color;
      padding: 1px;
      border-radius: 10px;

      .more-project-text {
        color: $overall-color;
        text-shadow: 1.3px 0;
        margin: 0;
      }
    }
  }
}

// Writing Component
#writing-container {
  height: 140vh;

  .writing {
    display: flex;
    justify-content: center;
    align-items: center;

    .writing-header {
      color: $tertiary-color;
      text-shadow: 1.5px 0;
      font-size: 250%;
    }
  }

  .writing-info-container {
    margin-left: 20vw;
    margin-right: 20vw;

    .writing-info {
      color: $secondary-color;
      line-height: 25px;
    }
  }

  .writing-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10vw;
    height: 280px;

    .writing-image-container {
      .writing-image {
        width: 470px;
        height: 250px;
        border-radius: 20px;
      }
    }

    .writing-description-one {
      margin: 20px;
      max-width: 450px;
      text-align: right;
    }

    .writing-description-two {
      margin: 20px;
      max-width: 450px;
      text-align: left;
    }

    .writing-title {
      color: $tertiary-color;
    }

    .writing-text {
      color: $secondary-color;
      line-height: 25px;
    }
  }

  .more-writing-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;

    .more-writing {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 230px;
      height: 65px;
      border: solid;
      border-width: 4px;
      border-color: $primary-color;
      background-color: $primary-color;
      padding: 1px;
      border-radius: 10px;

      .more-writing-text {
        color: $overall-color;
        text-shadow: 1.3px 0;
        margin: 0;
      }
    }
  }
}

// Contact Component
#contact-container {
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-header {
      color: $tertiary-color;
      text-shadow: 1.5px 0;
      font-size: 250%;
    }
  }

  .contact-description {
    margin: 10px 28vw;

    .contact-paragraph {
      color: $secondary-color;
      text-align: center;
      line-height: 30px;
      margin: 0;
    }
  }

  .contact-email-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;

    .contact-email {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 65px;
      border: solid;
      border-width: 4px;
      border-color: $primary-color;
      background-color: $primary-color;
      padding: 1px;
      border-radius: 10px;

      .contact-me {
        color: $overall-color;
        text-shadow: 1.3px 0;
        margin: 0;
      }
    }    
  }
}

// Footer Component
#footer-container {
  display: flex;
  height: 5vh;
  flex-direction: column;
  justify-content: center;

  .footer-text-container {
    text-align: center;
    background-color: $footer-color;

    .footer-text {
      color: $secondary-color;
    }
  }
}
