// Constant Color-Theme
$primary-color: #45ce95;
$secondary-color: #8a91b2;
$tertiary-color: #e6f1fe;
$overall-color: #0e162f;
$mobile-nav-color: #172a45;
$footer-color: #020c1b;

// Fade In
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@mixin element-fade-in() {
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  animation: fadein 3s;
}

// General Purpose
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: $overall-color;
}

// Navigation Component
#nav-container {
  #nav-bar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    transition: top 0.3s;
  }

  #logo-container {
    position: fixed;
    left: 30px;
    top: 20px;
    transition: top 0.3s;

    .logo {
      .logo-image {
        width: 70px;
        height: 70px;
      }
    }
  }

  .nav-links {
    margin: 3% 3%;
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
    color: $tertiary-color;
  
    &:hover,
    &:focus,
    &:active {
      transform: scale(1.1);
      transition-duration: .3s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 3;
    }
  }

  .resume-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 55px;
    border: solid;
    border-width: 4px;
    border-color: $primary-color;
    padding: 1px;
    border-radius: 10px;
    margin-left: 20px;

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.1);
      transition-duration: .3s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 3;
    }

    .resume-link {
      text-decoration: none;
      font-weight: bold;
      font-size: 110%;
      color: $primary-color;
    }
  }
}

// Shared Attributes
#welcome-container,
#about-container,
#project-container,
#writing-container,
#contact-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

// Links Component
#links-container {
  position: fixed;
  bottom: 0px;

  .social-media-list {
    list-style: none;

    .linkedin,
    .github,
    .medium,
    .twitter,
    .instagram {
      fill: $secondary-color;
      width: 23px;
      height: 23px;
      margin: 12px 15px;
    }
  }
}

// Email Component
#email-container {
  position: fixed;
  right: 60px;
  bottom: 15px;

  .email-icon {
    list-style: none;

    .mail {
      fill: $tertiary-color;
      width: 90px;
      height: 90px;
    }
  }
}

// Welcome Component
#welcome-container {
  #welcome-button {
    text-align: center;
    font-size: 30px;
    color: black;
  }
  
  .first-paragraph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14vh;

    .first-line {
      color: $primary-color;
      margin-right: 7vw;
      @include element-fade-in();
      transition-delay: 100ms;
    }
  
    .second-line {
      color: $tertiary-color;
      margin: 0 7vw 0 0;
      font-size: 430%;
      text-shadow: 1px 0;
      @include element-fade-in();
      transition-delay: 200ms;
    }
  
    .third-line {
      color: $secondary-color;
      margin: 0 7vw 0 0;
      font-size: 300%;
      text-shadow: 1px 0;
      @include element-fade-in();
      transition-delay: 300ms;
    }
  
    .profile-pic {
      width: 22vw;
      @include element-fade-in();
      transition-delay: 500ms;
    }
  }

  .fourth-line {
    color: $secondary-color;
    margin: 40px 20vw 0;
    line-height: 25px;
    @include element-fade-in();
    transition-delay: 400ms;
  }

  .fifth-line {
    color: $secondary-color;
    margin: 10px 20vw;
    line-height: 25px;
    @include element-fade-in();
    transition-delay: 400ms;
  }

  .email-me-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    @include element-fade-in();
    transition-delay: 600ms;

    .email-me {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 145px;
      height: 65px;
      border: solid;
      border-width: 4px;
      border-color: $primary-color;
      background-color: $primary-color;
      padding: 1px;
      border-radius: 10px;

      .email {
        color: $overall-color;
        text-shadow: 1.3px 0;
        margin: 0;
      }
    }
  }
}

// About Component
#about-container {
  background-color: $mobile-nav-color;

  .about {
    display: flex;
    justify-content: center;
    align-items: center;

    .about-header {
      color: $tertiary-color;
      text-shadow: 1.5px 0;
      font-size: 250%;
    }
  }

  .about-description {
    margin: 10px 28vw;

    .about-paragraph {
      color: $tertiary-color;
      line-height: 30px;
      margin: 0;
    }

    .skill-list {
      display: grid;
      grid-template-columns: minmax(140px, 350px) minmax(140px, 350px);
      list-style: none;
      padding: 0;
      background-color: $mobile-nav-color;

      .skill {
        color: $secondary-color;
        margin-bottom: 10px;
      }

      .skill::before {
        content: "▹";
        color: $primary-color;
        margin-right: 10px;
      }
    }
  }
}

// Project Component
#project-container {
  height: 140vh;

  .project-header-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .project-header {
      color: $tertiary-color;
      text-shadow: 1.5px 0;
      font-size: 250%;
    }
  }

  .project-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10vw;
    height: 320px;

    .project-image-container {
      .project-image {
        width: 470px;
        height: 320px;
        border-radius: 20px;
      }
    }

    .project-description-one {
      margin: 20px;
      max-width: 450px;
      text-align: right;
    }

    .project-description-two {
      margin: 20px;
      max-width: 450px;
      text-align: left;
    }

    .project-title {
      color: $tertiary-color;
    }

    .project-text {
      color: $secondary-color;
      line-height: 25px;
    }

    .project-details-container {
      .project-details {
        display: flex;
        justify-content: flex-end;

        .project-details-text-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 15px;
          border: solid;
          border-width: 4px;
          border-color: $primary-color;
          background-color: $primary-color;
          padding: 1px;
          border-radius: 10px;
          margin: 0 5px;
        }

        .project-details-text-container-med {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 15px;
          border: solid;
          border-width: 4px;
          border-color: $primary-color;
          background-color: $primary-color;
          padding: 1px;
          border-radius: 10px;
          margin: 0 5px;
        }

        .project-details-text-container-long {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90px;
          height: 15px;
          border: solid;
          border-width: 4px;
          border-color: $primary-color;
          background-color: $primary-color;
          padding: 1px;
          border-radius: 10px;
          margin: 0 5px;
        }

        .project-details-text {
          color: $overall-color;
          font-weight: bolder;
          font-size: 75%;
        }
      }
    }
  }

  .more-project-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;

    .more-project {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 65px;
      border: solid;
      border-width: 4px;
      border-color: $primary-color;
      background-color: $primary-color;
      padding: 1px;
      border-radius: 10px;

      .more-project-text {
        color: $overall-color;
        text-shadow: 1.3px 0;
        margin: 0;
      }
    }
  }
}

// Writing Component
#writing-container {
  height: 140vh;
  background-color: $mobile-nav-color;

  .writing {
    display: flex;
    justify-content: center;
    align-items: center;

    .writing-header {
      color: $tertiary-color;
      text-shadow: 1.5px 0;
      font-size: 250%;
    }
  }

  .writing-info-container {
    margin-left: 20vw;
    margin-right: 20vw;

    .writing-info {
      color: $tertiary-color;
      line-height: 25px;
    }
  }

  .writing-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10vw;
    height: 280px;

    .writing-image-container {
      .writing-image {
        width: 470px;
        height: 250px;
        border-radius: 20px;
      }
    }

    .writing-description-one {
      margin: 20px;
      max-width: 450px;
      text-align: right;
    }

    .writing-description-two {
      margin: 20px;
      max-width: 450px;
      text-align: left;
    }

    .writing-title {
      color: $tertiary-color;
    }

    .writing-text {
      color: $secondary-color;
      line-height: 25px;
    }
  }

  .more-writing-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;

    .more-writing {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 65px;
      border: solid;
      border-width: 4px;
      border-color: $primary-color;
      background-color: $primary-color;
      padding: 1px;
      border-radius: 10px;

      .more-writing-text {
        color: $overall-color;
        text-shadow: 1.3px 0;
        margin: 0;
      }
    }
  }
}

// Contact Component
#contact-container {
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-header {
      color: $tertiary-color;
      text-shadow: 1.5px 0;
      font-size: 250%;
    }
  }

  .contact-description {
    margin: 10px 28vw;

    .contact-paragraph {
      color: $secondary-color;
      text-align: center;
      line-height: 30px;
      margin: 0;
    }
  }

  .contact-email-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;

    .contact-email {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 65px;
      border: solid;
      border-width: 4px;
      border-color: $primary-color;
      background-color: $primary-color;
      padding: 1px;
      border-radius: 10px;

      .contact-me {
        color: $overall-color;
        text-shadow: 1.3px 0;
        margin: 0;
      }
    }    
  }
}

// Footer Component
#footer-container {
  display: flex;
  height: 5vh;
  flex-direction: column;
  justify-content: center;

  .footer-text-container {
    text-align: center;
    background-color: $footer-color;

    .footer-text {
      color: $secondary-color;
    }
  }
}

@media screen and (max-width: 1200px) and (min-height: 1500px) {
  #nav-container {
    .nav-bar-outside-container {
      position: fixed;
      left: 0;
      width: 400px;
      height: 100vh;
    }

    #nav-bar {
      flex-direction: column;
      right: 0;
      width: 600px;
      height: 100vh;
      background-color: $mobile-nav-color;

      .nav-links {
        font-size: 300%;
        margin: 12% 5%;

        &:hover {
          color: $primary-color;
        }
      }

      #close-button-container {
        position: fixed;
        top: 75px;

        .close-button {
          .close-button-image {
            width: 120px;
            height: 120px;
          }
        }
      }
    }

    #logo-container {
      left: 55px;
      top: 55px;
      
      .logo {
        .logo-image {
          width: 150px;
          height: 150px;
        }
      }
    }

    #hamburger-container {
      position: fixed;
      right: 70px;
      top: 85px;
      transition: top 0.3s;

      .hamburger {
        .hamburger-image {
          width: 100px;
          height: 80px;
        }
      }
    }

    .resume-link-container {
      width: 275px;
      height: 120px;
      border: solid;
      border-width: 8px;
      border-color: $primary-color;
      margin-top: 50px;
      margin-left: 0;

      .resume-link {
        font-size: 300%;
      }
    }
  }

  #welcome-container {
    height: 100vh;
    padding: 8vh 8vw 0 8vw;

    .first-paragraph-container {
      padding: 0;
      display: block;

      .second-line {
        font-size: 730%;
      }

      .third-line{
        font-size: 430%;
      }
    }

    .profile-image-container {
      display: flex;
      justify-content: center;
      margin: 40px 0;

      .profile-pic {
        width: 370px;
        height: 370px;
      }
    }

    .fourth-line {
      font-size: 220%;
      line-height: 50px;
      margin: 0 0 20px 0;
    }

    .fifth-line {
      font-size: 240%;
      line-height: 50px;
      margin: 10px 0;
    }

    .email-me-container {
      margin: 60px 0;

      .email-me {
        width: 300px;
        height: 120px;
        border-radius: 35px;

        .email {
          font-size: 350%;
          text-shadow: 1.5px 0;
        }
      }
    }
  }

  #about-container {
    .about {
      .about-header {
        font-size: 450%;
        margin-bottom: 0;
      }
    }

    .about-description {
      padding: 0 8vw;
      margin: 0 0 40px 0;

      .about-paragraph {
        font-size: 240%;
        line-height: 50px;
      }

      .skill-list {
        grid-template-columns: minmax(140px, 550px) minmax(140px, 550px);

        .skill {
          font-size: 220%;
        }
      }
    }
  }

  #project-container {
    height: 160vh;

    .project-header-container {
      .project-header {
        font-size: 450%;
        margin-bottom: 0;
      }
    }

    .project-one {
      flex-direction: column;
      height: 60vh;
      margin: 20px 10vw 35px 10vw;

      .project-image-container {
        .project-image {
          width: 800px;
          height: 600px;
        }
      }

      .project-description-one {
        max-width: none;

        .project-featured {
          font-size: 240%;
          margin: 0;
        }

        .project-title {
          font-size: 270%;
          margin: 20px 0;
        }

        .project-text {
          font-size: 220%;
          line-height: 45px;
        }
      }

      .project-description-two {
        max-width: none;

        .project-featured {
          font-size: 240%;
          margin: 0;
        }

        .project-title {
          font-size: 270%;
          margin: 20px 0;
        }

        .project-text {
          font-size: 220%;
          line-height: 45px;
        }
      }

      .project-details-container {
        .project-details {
          .project-details-text-container {
            width: 90px;
            height: 35px;

            .project-details-text {
              text-shadow: 1px 0;
              font-size: 150%;
            }
          }

          .project-details-text-container-med {
            width: 120px;
            height: 35px;

            .project-details-text {
              text-shadow: 1px 0;
              font-size: 150%;
            }
          }

          .project-details-text-container-long {
            width: 180px;
            height: 35px;

            .project-details-text {
              text-shadow: 1px 0;
              font-size: 150%;
            }
          }
        }
      }
    }

    .more-project-container {
      margin: 0;

      .more-project {
        width: 300px;
        height: 120px;
        border-radius: 35px;

        .more-project-text {
          font-size: 350%;
          text-shadow: 1.5px 0;
        }
      }
    }
  }

  #writing-container {
    height: 165vh;

    .writing {
      .writing-header {
        font-size: 450%;
        margin-bottom: 0;
      }
    }

    .writing-info-container {
      padding: 0 8vw;
      margin-left: 0;
      margin-right: 0;

      .writing-info {
        font-size: 240%;
        line-height: 50px;
      }
    }

    .writing-one {
      flex-direction: column;
      height: 45vh;
      margin: 40px 10vw 25px 10vw;

      .writing-image-container {
        .writing-image {
          width: 800px;
          height: 400px;
        }
      }

      .writing-description-one {
        max-width: none;

        .writing-publication {
          font-size: 240%;
          margin: 0;
        }

        .writing-title {
          font-size: 270%;
          margin: 20px 0;
        }

        .writing-text {
          font-size: 220%;
          line-height: 45px;
        }
      }

      .writing-description-two {
        max-width: none;

        .writing-publication {
          font-size: 240%;
          margin: 0;
        }

        .writing-title {
          font-size: 270%;
          margin: 20px 0;
        }

        .writing-text {
          font-size: 220%;
          line-height: 45px;
        }
      }
    }

    .more-writing-container {
      margin: 0;

      .more-writing {
        width: 300px;
        height: 120px;
        border-radius: 35px;

        .more-writing-text {
          font-size: 350%;
          text-shadow: 1.5px 0;
        }
      }
    }
  }

  #contact-container {
    .contact {
      .contact-header {
        font-size: 480%;
      }
    }

    .contact-description {
      margin: 10px 10vw;

      .contact-paragraph {
        font-size: 270%;
        line-height: 50px;
      }
    }

    .contact-email-container {
      margin: 50px 0;

      .contact-email {
        width: 300px;
        height: 120px;
        border-radius: 35px;

        .contact-me {
          font-size: 350%;
          text-shadow: 1.5px 0;
        }
      }
    }
  }

  #footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 12vh;
    background-color: $footer-color;

    .footer-logos-container {
      display: flex;
      justify-content: center;

      .logo {
        .linkedin,
        .github,
        .medium,
        .twitter,
        .instagram {
          fill: $secondary-color;
          width: 50px;
          height: 50px;
          margin: 35px 20px 10px;
        }
      }
    }

    .footer-text-container {
      .footer-text {
        font-size: 200%;
      }
    }
  }
}
